body{
    font-family: 'Montserrat', sans-serif;
    
    background-image:url(img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, p{
    margin: 0%;
}

h1{
    font-size: 60px;
    font-weight: 600;
}

h2{
    font-size: 45px;
    font-weight: 500;
}

.header{
    font-weight: 400;
    text-align: right;
    margin: 5px 5px;
    color: darkgrey;
}

.message{
    font-size: 24px;
}

.contents{
    margin-top: 35px;
    text-align: center;
}

.mePhoto{
    width: 285px; 
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

.gitlink{
    right: 15px;
    margin: 15px;
    padding-right: 5px;
    position: fixed;
}

.footer{
    bottom: 10px;
    padding-left: 10px;
    position: fixed;
}